$gray:  #555554
$lightgray: #cfd5d7
$cardchoosebg: #f9f9f9
$menubg:  #f4f4f4   
$white: #ffffff
$green: #8cbf19
$choosetext: rgb(16, 16, 16)
$darkgreen: #eaf6d1
$darkwhite: #dddfe2 
$whatsapp: #12bc18
$order:  rgb(242, 222, 160)
$orderbg: #f2b741
$ordercard: #f2dfa1
$ordercardtitle: #be5400 
$request: #8bbe1f 
$questionstitle: #f2b33d  
$slidetext: #efefef  
$slidegray: #c9c9c9   
$tabcolor: #2a2a2a
  