@font-face {
    font-family: 'Century Gothic Regular';
    src:
    url('../fonts/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'Century Gothic';
    src:
    url('../fonts/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}