@media screen and ( min-width: 1200px )
    .desctop-logo
        display: block
    .mobile-logo
        display: none
@media screen and ( max-width: 1200px )
    .menu
        position: fixed
        background-color: $menubg
        font-family: 'Montserrat', sans-serif
        font-weight: 500
        width: 100%
        z-index: 10
    .menu-item
        padding: 20px 8px
        font-size: 14px
        line-height: 14px
    .menu-logo img
        margin-bottom: -5px
        height: 55px
        width: 115%
    .header-number
        font-size: 12px
    .choose-card
        width: 285px
        // height: 276px
    .choose-card-description
        font-size: 14px
    .desctop-logo
        display: block
    .mobile-logo
        display: none
@media screen and ( max-width: 992px )
    .menu-item
        display: flex
        justify-content: center
        align-items: center
        padding: 20px 17px
        font-size: 14px
        color: $gray 
        transition: 0.5s
        height: 20px
        padding: 2px 8px
        font-size: 14px
        &:hover
            transition: 0.5s
            background-color: $gray
            color: $white
            border-bottom: 2px solid $green
            box-shadow: 0px 5px 0px 0px rgba(85, 85, 84, 1)
    .menu-items
        display: flex
        flex-wrap: wrap

        
    .menu-logo img
        margin-bottom: -5px
        height: 55px
        width: 145%
    .desctop-logo
        display: none
    .mobile-logo
        display: block
    .menu-logo img
        margin-bottom: -5px
        height: 55px
        width: 105%
    .menu-number
        margin-left: -50px
    .header-title 
        margin-left: 8px
    .choose-card
        width: 340px
        // height: 246px
    .choose-cards-sub 
        margin-top: 60px
    .choose-card-adaptiv
        margin-top: 30px
    .order-card
        min-height: 198px
    .order-card-title
        font-size: 14px
    .order-card-description
        font-size: 14px
    .map-content
        height: 350px
    .slide-title
        font-size: 36px
        line-height: 38px
@media screen and ( max-width: 768px )
    .choose-top-adaptiv
        margin-top: 30px
    .menu-logo img
        height: 50px
        width: 115%
        margin-bottom: 0px
    .menu-item
        font-size: 13px


    .header-number
        font-size: 12px
        color: $whatsapp
    .menu-number img
        display: none
    .header-title 
        font-size: 14px
    .slide-title
        font-size: 28px
        line-height: 30px
    .sale-up
        font-size: 15px
        min-width: 250px
    .sale-title
        min-width: 250px
        font-size: 28px
    .swiper-container 
        height: 520px
    .choose-card
        margin: auto
    .choose-card-description
        font-size: 15px
    .choose-card-sm
        margin-top: 30px
    .consultation-description
        font-size: 14px
    .consultation-button
        font-size: 14px
        margin-top: 25px
    .order-card-adaptiv
        margin-top: 30px
        margin-bottom: 30px
    .title
        font-size: 30px
    .footer-description
        margin-top: 10px
        margin-bottom: 20px
    .footer-description-img
        margin-top: 10px
        margin-bottom: 20px
    
@media screen and ( max-width: 575px )
    .slide-content
        padding-top: 60px
    .transparent-button
        border: 2px solid $green
        color: $white
        background-color: #0000003f
        &:hover
            border: 2px solid $green
    .text-sale 
        margin-top: 17px
        max-width: 240px 
    .sale-up
        min-width: 240px
    .kitchen-card
        width: 255px
        margin: auto
        margin-top: 30px
    .cabinets-card
        width: 255px
        margin: auto
        margin-top: 30px
    .title
        font-size: 20px
    .menu-logo img
        height: 50px
        width: 115%
        margin-bottom: 0px
    .menu-number
        margin-left: 10px
    // .menu-number img
    //     display: block
    .btn_mobile
        background-color: transparent
        border: none
        margin-right: 20px
        border-style: none
        outline: none
        z-index: 200
        &:focus
            border: none
            outline: none
    .menu-items
        border-bottom: 3px solid $green
        z-index: 10
        width: 100vw
        position: fixed
        flex-direction: column
        background-color: $gray
        top: 0
        bottom: 0
        height: 310px
        width: 100vw
        left: -100vw
        transition: 0.5s
        text-align: center
        &.active
            transition: 0.5s
            left: 0
    .menu-item
        height: 50px
        display: flex
        justify-content: center
        align-items: center
        padding: 20px 17px
        font-size: 14px
        color: $white
        transition: 0.5s
        margin: auto
        width: 200px
        &:hover
            transition: 0.5s
            background-color: $gray
            color: $white
            box-shadow: 0px 0px 0px 0px #55555400
    .order-card
        min-height: 150px
            