@media screen and ( max-width: 4000px )
    .mobile-logo
        display: none
@media screen and ( max-width: 1700px )
    .menu-items, .header-menu ul
        width: 700px
        
@media screen and ( max-width: 1440px )
    .display-none1200
        display: none
@media screen and ( max-width: 1330px )
    .menu-item
        font-size: 15px
    .header-number
        font-size: 14px
    .menu-sochial a
        margin-right: 0
    .menu-items, .header-menu ul
        width: 600px
        
@media screen and ( max-width: 1200px )
    .menu-item
        padding: 25px 5px 20px
    .menu-items
        
        width: 500px
    .reviews-form 
        display: flex
        justify-content: center
        input
            width: 200px
    .menu-items, .header-menu ul
        width: 500px
@media screen and ( max-width: 1075px )
    .desctop-logo
        display: none
    .mobile-logo
        display: block
        width: 160px
        img
            width: 100% !important
    .menu-logo 
        img
            margin-left: 15px
    .header-title
        font-size: 12px
        margin-left: 15px
@media screen and ( max-width: 992px )
    .photo-card
        margin-bottom: 30px
    .reviews     
        &-card
            &-plus
                height: 228px
        &-slider
            &-card
                &:hover
                    height: 228px
    .col-20
        width: 50%
    .menu-sochial
        margin-right: 15px
    .slide-title
        font-size: 30px
        line-height: 32px
    .slide-description
        font-size: 15px
        line-height: 20px
    .slide-installment
        font-size: 17px
    .slide-profitable
        font-size: 23px
    .slide-installment
        margin-top: 15px
    .slide-buttons
        margin-top: 15px
    .slide-button
        font-size: 14px
        &-transparent
            font-size: 13px
    .section
        &-title
            font-size: 32px
        &-subtitle
            font-size: 20px
    .advantages
        &-content
            display: flex
            justify-content: center
        &-card
            &-title
                font-size: 14px
                min-height: 30px
            &-text
                font-size: 14px
        &-application
            &-img
                width: 190px
                img
                    width: 100%
            &-title
                font-size: 28px
                margin-bottom: 15px
            li
                font-size: 14px
            form
                margin-top: 15px
            &-form
                &-wraper
                    font-size: 14px
                    input
                        font-size: 14px
                    button
                        font-size: 14px
                &-policy
                    font-size: 14px
    .reviews
        &-title
            font-size: 28px
        &-content
            padding-bottom: 15px
            padding-top: 45px
            img
                top: -70px
                left: 29%
                height: 120px
        &-slider
            &-card
                height: 228px 
    .order
        &-card
            &-two
                &-title
                    font-size: 12px
                &-text
                    font-size: 12px
                &-description
                    padding-top: 3px
                    padding-bottom: 3px 
            &-form
                margin-top: 60px
                &-title
                    font-size: 22px
                form
                    display: flex
       
                    flex-direction: column
                    align-items: center
                    input
                        width: 90%
                    button
                        width: 90%
                a
                    font-size: 16px
                    text-align: center
                    margin: auto
                &-policy
                    font-size: 16px
                    display: inline
@media screen and ( max-width: 930px )
    // .menu
    //     &-item
    //         font-size: 13px
    // .header
    //     &-number
    //         font-size: 10px
        &-title
            font-size: 12px
@media screen and ( max-width: 830px )
    .header
        &-number
            margin-left: 0
        &-menu
            ul
                // min-width: 380px
                // max-width: 390px
                width: 390px
    // .menu
    //     &-item
    //         font-size: 11px
@media screen and ( max-width: 767px )  
    .meet-card
        margin-top: 15px
    .btn_mobile
        background-color: transparent
        border: none
        margin-right: 15px
        border-style: none
        outline: none
        z-index: 200
        &:focus
            border: none
            outline: none
    .menu-items, .header-menu ul
        position: fixed
        border-bottom: 3px solid $green
        z-index: 10
        padding-top: 30px
        padding-bottom: 30px
       
        width: 100vw
        flex-direction: column
        background-color: $gray
        top: 0
        bottom: 0
        height: 100vh

        
        left: -800px
        transition: 0.2s
        text-align: center
        &.active
            transition: 0.2s
            left: 0
    .menu-item
        color: $white
        display: flex
        align-content: space-around
        &:hover
            box-shadow: none
    .desctop-logo 
        display: block
    .mobile-logo 
        display: none
    .advantages
        &-application
            padding-top: 15px
            padding-bottom: 15px
            &-img
                width: 150px
            &-title
                font-size: 20px
            ul
                margin-bottom: 0
            li
                font-size: 12px
            form
                margin-top: 0px
            &-form
                
                &-wraper 
                    display: flex
                    flex-direction: column
                    input
                        height: 35px
                        margin-top: 12px
                        width: 100%
                    button
                        height: 35px
                        margin-top: 12px
                        width: 100%
    .kitchen
        &-card
            height: 220px
            &-plus
                &-content 
                    img
                        margin-top: 90px
    .tabs
        &-item
            font-size: 12px
            padding-left: 20px
            padding-right: 20px 
            padding-top: 5px
            padding-bottom: 5px
            margin-right: 5px
            margin-left: 5px
    .cabinets
        &-item
            font-size: 12px
            padding-left: 20px
            padding-right: 20px 
            padding-top: 5px
            padding-bottom: 5px
            margin-right: 5px
            margin-left: 5px
        &-card
            height: 220px
            &-plus
                &-content
                    img
                        margin-top: 90px
    .reviews
        &-title
            font-size: 20px 
            margin-bottom: 0
        &-content 
            img
                top: -80px
        &-form
            display: flex
            flex-direction: column
            input
                width: 100%
                height: 35px
                margin-top: 12px
            button
                height: 35px
                width: 100%
                margin-top: 12px
        &-policy
            font-size: 14px
        &-slider
            &-card
                height: 150px
        

                
        &-card
            &-plus
                height: 150px
        &-slider
            &-card
                &:hover
                    height: 150px
            &-form
                padding-top: 15px
                padding-bottom: 15px
                &-text
                    font-size: 14px
                button
                    height: 35px
    .order
        &-card
            display: flex
            justify-content: center
            img
                height: 300px
                width: 200px
                margin: auto
                text-align: center
            &-two
                margin-top: 15px
                &-img
                    font-size: 30px
            &-form
                margin-top: 15px
    .order-card-form form input    
        height: 35px    
    .order-card-form form button
        height: 35px    
    .map-content
        height: 400px
@media screen and ( max-width: 575px ) 
    .cupboard-button
        width: 100% 
    .photo-button
        width: 100%
    .photo-card
        margin-bottom: 30px !important
    .advantages-application-img
        display: none
    .desctop-logo
        display: none
    .mobile-logo
        display: block    
    .menu-sochial
        margin-right: 0
        margin-left: 15px
    .menu-sochial a
        letter-spacing: -1px
    .reviews-content img
        display: none
    .reviews-content
        padding-top: 15px
    .reviews
        &-card
            
            &-plus
                height: 250px
        &-slider
            &-card
                height: 250px
                &:hover
                    height: 250px
    .footer-description
        margin-top: 15px
        margin-bottom: 15px
        &-img
            margin-top: 15px
            margin-bottom: 15px
    .footer-whatsapp
        margin-top: 15px
    .footer-sub
        margin-top: 15px
    .advantages-application
        padding-top: 5px
        padding-bottom: 5px
        margin-top: 50px
    .dnone575
        display: none
    .swiper-container
        height: 500px
    .kitchen
        margin-top: 0
    .kitchen-card
        width: 360px
        margin: auto
    .cabinets-card
        width: 360px
        margin: auto
@media screen and ( max-width: 400px ) 
    .reviews
        &-card
            
            &-plus
                height: 220px
        &-slider
            &-card
                height: 220px
                &:hover
                    height: 220px
    .kitchen-card
        width: 100%
        
    .cabinets-card
        width: 100%
        
@media screen and ( max-width: 374px ) 
    .dnone375
        display: none
    .reviews
        &-card
            
            &-plus
                height: 200px
        &-slider
            &-card
                height: 200px
                &:hover
                    height: 200px