a
    text-decoration: none
    &:hover
        cursor: pointer
        text-decoration: none
        filter: drop-shadow(0 4px 4px rgba(0,0,0,.35))
button
    &:focus
            border: none
            outline: none
.button
    display: flex
    justify-content: center
    align-items: center
    background-color: $green
    height: 59px
    border: none
    outline-style: none
    &:hover
        border: none
        outline-style: none
        cursor: pointer
        filter: drop-shadow(0 4px 4px rgba(0,0,0,.35))
.title
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    font-size: 31px