// стили меню \/
.menu
    position: fixed
    background-color: #ffffff
    font-family: 'Montserrat', sans-serif
    font-weight: 500
    width: 100%
    z-index: 10
    &-sochial
        margin-right: 30px
        a
            margin-right: 10px
            
.menu-logo img
    margin-bottom: -5px
    height: 55px
    width: 293px
    margin-left: 30px
.menu-items
    display: flex
.menu-item
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    padding: 25px 17px 20px
    font-size: 14px
    color: $gray 
    transition: 0.5s
    border-bottom: 5px solid transparent
    font-family: 'Century Gothic Regular', sans-serif
    
    font-size: 18px
    // margin-right: 50px
    &:hover
        transition: 0.5s
        background-color: $gray
        color: $white
        border-bottom: 5px solid $green
        box-shadow: 0px 5px 0px 0px rgba(85, 85, 84, 1)
.menu-number 
    
    display: flex
    align-items: center
.header-number
    color: $gray
    margin-left: 5px
    padding-top: 3px
    font-family: 'Century Gothic Regular', sans-serif
    &:hover
        color: #000000
// стили header \/
.header
    padding-top: 55px
    
    &-menu
        display: flex
        align-items: center
        justify-content: space-between
        ul
            display: flex
            justify-content: space-between
            margin-bottom: 0
            padding-left: 0
            width: 942px
            li
                
                list-style-type: none
                
                
.header-title
    font-family: 'MicraDi', sans-serif
    font-weight: 500
    font-size: 16px
    color: $gray
    margin-left: 100px
    margin-top: 5px
    margin-bottom: 5px
.slide
    position: relative
.calculation
    position: fixed
    transform: rotate(270deg)
    background-color: $green
    z-index: 400
    right: -91px
    top: 53%
    box-shadow: inset 5px 0px rgba(10, 10, 10, 0.315), 0px 1px 1px rgba(0, 0, 0, 0.322)
.calculation-content
    padding: 0px 14px
    display: flex
    align-items: center
    // padding: .8em 1em calc(.8em + 3px)
    border-radius: 3px
    // background: rgb(64,199,129)
    
    transition: 0.2s
    // box-shadow: 0px 0px 29px 0px rgba(31, 37, 48, 0.6)
 

.calculation-content img
    
    
    transform: rotate(90deg)
    margin-right: 0px
    margin-top: 8px
    height: 43px
    margin-bottom: 8px
.calculation-content-text
    font-family: 'Century Gothic Regular'
    font-weight: 500
    font-size: 18px
    margin-bottom: 6px
    margin-left: 10px
    // margin-left: 0px
    color: $white
    // height: 142px
    // width: 171px