.order
    padding-top: 71px
    padding-bottom: 78px
    background: $orderbg url('../img/order/order-bg.png') center center no-repeat
.order-content
    display: flex
    justify-content: center
    flex-direction:: column
.order-title
    
    margin-bottom: 10px
.order-subtitle
    display: flex
    justify-content: center
    position: relative
    margin: auto
    max-width: 290px
    margin-bottom: 60px
    &::before
        content: ''
        position: absolute
        background-color: $order
        height: 3px
        width: 100px
        left: -125px
        top: 3px
    &::after
        content: ''
        position: absolute
        background-color: $order
        height: 3px
        width: 100px
        left: 55px
        top: 3px
.order-card-bg
    &-one
        background: url('../img/order/one.png') 92% 85% no-repeat
    &-two
        background: url('../img/order/two.png') 94% 85% no-repeat
    &-three
        background: url('../img/order/three.png') 94% 85% no-repeat
    &-four
        background: url('../img/order/four.png') 97.5% 85% no-repeat
    &-five
        background: url('../img/order/five.png') 94% 85% no-repeat
.order-card
    background-color: $ordercard
    padding: 16px
    height: 150px
.order-card-title
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    color: $ordercardtitle
    font-size: 16px
.order-card-description
    font-family: 'Montserrat', sans-serif
    font-weight: 500
    font-size: 16px
.order-request
    font-family: 'Montserrat', sans-serif
    font-weight: 500
    font-size: 16px            
    color: $request

