.reviews
    &-slider
        &-form
            background: url(../img/advantages/application.png)
            padding-top: 22px
            padding-bottom: 22px
            text-align: center
            button
                width: 307px
                height: 54px
                border-radius: 27px
                border: none
                background-color: #6fbf00
                color: #dddfe2
                font-size: 16px
                padding-bottom: 2px
            &-text
                margin-top: 10px
                font-size: 16px
                color: #dddfe2