.swiper-container 
    width: 100%
    height: 653px
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after
    color: $white
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after
    color: $white
.swiper-pagination-bullet
    background-color: $white
    opacity: 1
.swiper-pagination-bullet-active
    background-color: $green
.slide-content
    // padding-top: 100px
.slide-title
    color: $white
    font-family: 'Century Gothic'
    font-size: 52px
    font-weight: 700
    line-height: 52px
.slide-description
    color: $slidetext
    font-family: 'Century Gothic Regular'
    font-weight: 300
    font-size: 21px
    line-height: 30px
    margin-top: 15px
.slide-buttons
    display: flex
    margin-top: 30px
.slide-button
    width: 50%
    height: 54px
    border: none
    border-radius: 27px
    background-color: #6fbf00
    color: #dddfe2
    font-size: 18px
    margin-bottom: 5px
    font-family: 'Century Gothic Regular', sans-serif
.slide-button-transparent
    text-decoration: underline
    width: 50%
    height: 54px
    border: none
    border-radius: 27px
    background-color: #6fbf0000
    color: #dddfe2
    font-size: 18px
    margin-bottom: 5px
    font-family: 'Century Gothic Regular', sans-serif
.button-slide
    width: 263px
    color: $darkgreen
    outline: none
.transparent-button
    border: none
    width: 165px
    background-color: transparent
    color: $slidegray
    outline: none
    &:hover
        border: none
        outline: none
        cursor: pointer
.text-sale
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
.sale-up
    width: 100%
    background-color: rgb(42, 42, 42)
    color: $questionstitle
    padding: 0px 8px
    font-family: 'Century Gothic'
    font-size: 30px
    line-height: 40px
    font-weight: 700
.sale-title
    color: $questionstitle
    font-family: 'Century Gothic'
    font-size: 48px
    line-height: 64px
    font-weight: 700
.slide-installment
    font-size: 27.09px
    text-align: center
    background-color: #000000
    color: #ffffff
    font-family: 'Century Gothic Regular'
    text-transform: uppercase
    letter-spacing: 1px
    padding-top: 5px
    padding-bottom: 5px
    margin-top: 30px
.slide
    height: 100%
.slide-profitable
    color: #ffffff
    text-shadow: 0px 0px 20px #000000
    font-family: 'Century Gothic'
    font-size: 46.25px
    text-transform: uppercase
    letter-spacing: 7.7px
.swiper-slide-bg1
    background: url('../img/slider/1.png') no-repeat center 
    background-size: 100%
    
    
.swiper-slide-bg2
    background: url('../img/slider/2.png') no-repeat center 
    background-size: 100%
    
.swiper-slide-bg3
    background: url('../img/slider/3.png') no-repeat center 
    background-size: 100%
    
.swiper-slide-bg4
    background: url('../img/slider/4.png') no-repeat center 
    background-size: 100%
    
.swiper-slide-bg5
    background: url('../img/slider/5.png') no-repeat center 
    background-size: 100%
    
.height100
    height: 100%